.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
bin/
obj/
packages/
*.nupkg
project.lock.json
project.assets.json
*.vspscc
*.vssscc
*.dbmdl
*.publish.xml
*.psess
*.vsp
*.pdb
*.cache
*.log
*.tlog
*.sdf
*.sln.ide